<ul>
    {{#each savedArticle}}
    <div class="card">
        <div class="card-header">
            <h4>
                {{title}}
                <a class="btn btn-danger delete" href="#">Delete From Saved</a>
                <a class="btn btn-info notes" href="#">Article Notes</a>
            </h4>
        </div>
        <div class="card-body">{{description}}</div>
        <div class="card-body"><a class="articleLink" href="">{{link}}</a></div>
    </div>
    {{/each}}
</ul>